@import './../../../styles/variables.scss';

.list_title {
    display: grid;
    grid-template-columns: 100px 3fr 1fr 1fr 100px;
    font-weight: bold;
    font-size: 20px;
    gap: 20px;
    border-bottom: 1px solid $gBlack;
    padding-bottom: 8px;

    .center {
        text-align: center;
    }
}