@import './../../../styles/variables.scss';

.category_container {
    background-color: $gWhite;
    padding: 12px 24px;
    font-weight: 700;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;

    &:hover {
        background-color: darken($gWhite, 3);
    }

    &.active {
        background-color: $gBlack;
        color: white;
    }
}