@import './../../styles/variables.scss';

.wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;

    .page_button {
        user-select: none;
        font-size: 18px;
        border-radius: 12px;
        border: 1px solid $gRed;
        color: $gRed;
        padding: 6px 16px;
        font-weight: bold;
        cursor: pointer;

        &.active {
            background-color: $gRed;
            color: white;
        }
    }
}