@import './../../../styles/variables.scss';

.wrapper {
    position: sticky;
    bottom: 0px;
    border-radius: 0px 0px 8px 8px;
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 20px 40px;
    border-top: 1px solid $gWhite;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

    .price_container {
        text-align: center;

        .price {
            font-size: 28px;
            font-weight: 700;

            &::after {
                content: '₽';
                font-size: 22px;
                font-weight: 500;
                margin-left: 2px;
            }
        }

        .price_title {
            font-size: 18px;
        }
    }

    .button_container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;

        .clear_button {
            background-color: $gRed;

            .deleteImg {
                width: 19px;
            }
        }


    }
}