@import './../../../styles/variables.scss';

%animation {
    transition: 0.2s all ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 750px;
    overflow: hidden;
    text-decoration: none;
    color: black;

    .information {
        width: 100%;
        background-color: $gWhite;
        border-radius: 8px;
        padding: 6px;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @extend %animation;

        .title {
            background-color: white;
            padding: 8px 10px;
            border-radius: 8px;
            @extend %animation;
        }

        .description_container {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;

            .price {
                @extend %animation;
                border-radius: 8px;
                background-color: white;
                padding: 4px 10px;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: bold;
            }
        }

        &.added {
            background-color: $gRed;

            .title {
                background-color: $gRed;
                color: white;
            }

            .description_container {
                .price {
                    color: white;
                    background-color: $gRed;
                }
            }
        }
    }
}

.image_container {
    width: 100%;
    min-height: 260px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s transform ease-in-out;
    z-index: 0;

    .wrapper:hover & {
        transform: scale(1.2);
    }
}