@import './../../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 80px 0;

    >span {
        font-size: 18px;
    }

    .title {
        font-size: 32px;
    }

    .image {
        margin-top: 40px;
        width: 250px;
        position: relative;
        animation: 1s infinite alternate ease-in-out sadImg;
    }
}

@keyframes sadImg {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(30deg);
    }
}