@import './variables.scss';

%active {
    &:active {
        box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
    }
}

.button {
    background-color: $gRed;
    height: 34px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 12px;
    width: 124px;
    cursor: pointer;
    border-left: 1px solid $gRed;
    z-index: 1;
    transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out, 0.2s border-color ease-in-out, 0.2s border-radius ease-in-out;
    overflow: hidden;

    @extend %active;

    &:hover {
        background-color: darken($gRed, 4);
    }

    &.added {
        position: relative;
        background-color: white;
        color: $gRed;
        border-radius: 0px 12px 12px 0;

        >span {
            display: block;
            transform: translateX(-14px);
        }

        &::after {
            content: attr(data-amount);
            background-color: $gRed;
            color: white;
            border-radius: 100px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 7px;
            right: 7px;
        }
    }
}

.button_container {
    display: flex;
    align-items: center;
    position: relative;

    .deleteBtn {
        background-color: white;
        border: none;
        cursor: pointer;
        height: 34px;
        padding: 2px 6px 0px 6px;
        border-radius: 12px 0 0 12px;
        transform: translateX(0px);
        transition: 0.2s transform ease-in-out, 0.2s background-color ease-in-out;
        @extend %active;
        position: relative;

        .deleteBtn_image {
            width: 25px;
        }

        &.closed {
            z-index: 0;
            background-color: $gRed;
            transform: translateX(38px);
        }
    }
}