@import './variables.scss';

.wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 40px;
    border-bottom: 1px solid $gWhite;

    @media (max-width: 860px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 12px;
    }

    @media (max-width: 510px) {
        justify-content: center;
    }
}