.order_container {
    display: grid;
    grid-template-columns: 100px 3fr 1fr 1fr 100px;
    gap: 20px;
    align-items: center;

    .image {
        width: 100%;
    }

    .order_count {
        text-align: center;
    }
}