@import './variables.scss';

* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $gCyan;
}

.wrapper {
    padding: 20px 40px;
}