@import './variables.scss';

* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $gCyan;
}

body {
    padding: 0 8px;
}

.wrapper {
    padding: 20px 40px;
    min-height: calc(100vh - 282px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}