@import './../../styles/variables.scss';

.button {
    background-color: $gBlack;
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 24px;
    border: none;
    cursor: pointer;

    &.large {
        padding: 12px 24px;
        font-size: 16px;
    }

    &.small {
        padding: 6px 14px;
        font-weight: 200;
    }

    &:active {
        transform: translateY(1px);
    }
}